<%- include('layout') %>

<h2>Inbox</h2>

<table>
    <thead>
        <tr>
        <th>Sender</th>
        <th>Subject</th>
        <th>Time Received</th>
        </tr>
    </thead>
    <tbody>
        <% emails.forEach(email => { %>
        <tr>
        <td><%= email.sender_name %></td>
        <td><a href="/emails/<%= email.id %>"><%= email.subject || '(no subject)' %></a></td> <!-- Email subject -->
        <td><%= new Date(email.timestamp).toLocaleString() %></td> 
        </tr>
        <% }) %>
    </tbody>
   </table>



<p><a href="/compose">Compose New Email</a></p>