<%- include('layout') %>


<div class="container" >
<h2>Outbox</h2>

<table>
  <thead>
    <tr>
    <th>Recipient Name</th>
    <th>Subject</th>
    <th>Time Received</th>
    </tr>
  </thead>
   <% emails.forEach(email => { %>
       <tr>
           <td><%= email.recipient_name %></td> <!-- 受取人名 -->
           <td><a href="/emails/<%= email.id %>"><%= email.subject || '(no subject)' %></a></td> <!-- 件名 -->
           <td><%= new Date(email.timestamp).toLocaleString() %></td> <!-- 送信時間 -->
       </tr>
   <% }) %>
</table>

<div class="pagination">
  <% if (page > 1) { %>
      <a href="/outbox?page=<%= page - 1 %>">Previous</a>
  <% } %>
  <% for (let i = 1; i <= totalPages; i++) { %>
      <a href="/outbox?page=<%= i %>" class="<%= page === i ? 'active' : '' %>"><%= i %></a>
  <% } %>
  <% if (page < totalPages) { %>
      <a href="/outbox?page=<%= page + 1 %>">Next</a>
  <% } %>
</div>
</div>

<style>
  .pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 0;
      margin-top: 20px;
  }
  .pagination a {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      border: 1px solid #ddd;
      margin: 0 4px;
      transition: background-color 0.3s, color 0.3s;
  }
  .pagination a.active {
      background-color: red;
      color: white;
      border: 1px solid red;
  }
  .pagination a:hover:not(.active) {
      background-color: #ddd;
  }
</style>