<%- include('layout') %>


<div class="container" >
<h2>Outbox</h2>

<table>
  <thead>
    <tr>
    <th>Recipient Name</th>
    <th>Subject</th>
    <th>Time Received</th>
    </tr>
  </thead>
   <% emails.forEach(email => { %>
       <tr>
           <td><%= email.recipient_name %></td> <!-- 受取人名 -->
           <td><a href="/emails/<%= email.id %>"><%= email.subject || '(no subject)' %></a></td> <!-- 件名 -->
           <td><%= new Date(email.timestamp).toLocaleString() %></td> <!-- 送信時間 -->
       </tr>
   <% }) %>
</table>
</div>